<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#pen-tool` | relURL }}"/>
        </svg>
        <h2 class="h2">AI-Optimized Resumes<small class="d-none">💼</small></h2>
        <p>SkillScript intelligently selects and organizes your experiences based on the job description, ensuring your resume is always optimized for success.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#file` | relURL }}"/>
        </svg>
        <h2 class="h2">AI-Powered Cover Letters<small class="d-none">✍️</small></h2>
        <p>Generate professional, role-specific cover letters that align with your resume and the job description, saving time and increasing your chances of getting noticed.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#folder` | relURL }}"/>
        </svg>
        <h2 class="h2">Smart Experience Repository<small class="d-none">📂</small></h2>
        <p>Upload job experiences, coursework, projects, volunteer work, and more into a single, easily accessible repository that grows with your career.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#clock` | relURL }}"/>
        </svg>
        <h2 class="h2">Resume Version Control <small class="d-none">📑</small></h2>
        <p>Create and store different versions of your resume for various job applications without losing past iterations.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#edit` | relURL }}"/>
        </svg>
        <h2 class="h2">ATS Optimization <small class="d-none">📊</small></h2>
        <p>Analyze job descriptions and get AI-driven recommendations on keywords to improve applicant tracking system compatibility.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#linkedin` | relURL }}"/>
        </svg>
        <h2 class="h2">LinkedIn Profile Building<small class="d-none">🌐</small></h2>
        <p>Generate a LinkedIn summary that matches your resume, ensuring consistency across platforms.</p>
    </div>
</div>
